<div class="form-fields">
    <span class="fields-label">Tesvir</span>
    <input type="text" class="input form-input add-stock" placeholder="..." value="{{row.value}}" data-fields-name="add_stock_description">
</div>