<div class="stock-from-container">
    <span class="sub-title stock-from-title">Forma</span>

    <div class="stock-form-content">
        {% include "/component/form/include_fields.twig" %}
    </div>
</div>