<div class="width-100 flex flex-ai-cntr flex-wrap">
    <span class="fields-label">Добавить категорию</span>
    <div class="input-container">
    <button class="btn btn-success add-submit-category">Сохранить</button>
    </div>
</div>