<div class="form-fields fields width-100">
    <span class="fields-label">Tesvir</span>
    <div class="fileds-input-container">
        <textarea class="textarea add-stock form-input ls-custom-scrollbar"  data-fields-name="add_rasxod_description"></textarea>
    </div>
</div>