<div class="width-100 flex fields form-fields flex-ai-cntr flex-wrap">
    <span class="fields-label">Добавить категорию</span>
    <div class="fileds-input-container">
        <button class="btn btn-success add-submit-category">Сохранить</button>
    </div>
</div>