<div class="width-100 flex flex-ai-cntr flex-wrap">
    <span class="fields-label">Добавить поставщика </span>
    
    <div class="input-relative">
        <button class="btn btn-success add-submit-provider">Сохранить</button>
    </div>
</div>