{% block terminal_order %}
	<div class="module_order_wrp ls-custom-scrollbar">
		<div class="modal_order_form" data-order-id="{{res.stock.id}}">
			{% include '/component/modal/include_fields.twig' %}
		</div>
	</div>
{% endblock %}



{% block edit_product %}
<h3 class="modal-title">Редактировать</h3>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.stock.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}

