<div class="module_fix_right_side hide">

	<div class="close_modal_btn">
		<img src="/img/icon/cancel-white.png"> 
	</div>

	<div class="modal_view_stock_order">
		return html here
	</div>
	<div class="order_resault"></div>
</div>