<div class="cart-wrapper flex cart">
    <div class="cart-table-wrapper width-100">
        <div class="table-content ls-custom-scrollbar">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th_w40">#</th>
                        <th class="width-auto">Malın adı</th>
                        <th class="th_w140">Qiymət</th>
                        <th class="th_w140">Sayı</th>
                        <th class="th_w50">Sil</th>
                    </tr>
                </thead>
                <tbody class="cart-item-list">
                                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="cart-contorl mrgn-left-5 content_container height-auto">
        <button class="btn width-100 btn-danger reset-cart">
            <span class="widget__button-text">Очистить корзину</span>
            <span class=" widget__button-icon button-icon-i button-icon-right las la-trash"></span>
        </button>
        <button class="btn width-100 btn-primary send-cart">Отправить</button>
    </div>
</div>  














<!-- <div class="modal display-flex flex-ai-cntr flex-jc-cntr cart hide">
    <div class="content_container cart-wrapper height-auto mrgn-right-5 mrgn-left-5 flex-1">
        <h1 class="content__title mrgn-bottom-50">Əməliyyatlar</h1>
        
        <div class="cart-wrapper flex">
            <div class="table-wrapper width-100">
                <div class="table-content ls-custom-scrollbar">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="th_w40">#</th>
                                <th class="width-auto">Malın adı</th>
                                <th class="th_w170">Qiymət</th>
                                <th class="th_w170">Sayı</th>
                                <th class="th_w50">Sil</th>
                            </tr>
                        </thead>
                        <tbody class="cart-item-list">
                                          
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cart-contorl mrgn-left-5">
                <button class="btn width-100 btn-danger reset-cart">
                    <span class="widget__button-text">Очистить корзину</span>
                    <span class=" widget__button-icon button-icon-i button-icon-right las la-trash"></span>
                </button>
                <button class="btn width-100 btn-primary send-cart">Отправить</button>
            </div>
        </div>  
    </div>
</div>    -->