<div class="cart-wrapper flex cart" id="cart">
    <div class="cart-table-wrapper width-100">
        <div class="table-content ls-custom-scrollbar">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th_w40">#</th>
                        <th class="width-auto">Malın adı</th>
                        <th class="th_w140">Qiymət</th>
                        <th class="th_w140">Sayı</th>
                        <th class="th_w50">Sil</th>
                    </tr>
                </thead>
                <tbody class="cart-item-list">
                                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="cart-contorl content_container">
        <div class="cart-res flex flex-jc-space-between">
            <span>Cəmi: </span>
            <div class="flex">
                <span class="cart-res-sum"></span>
                <span class="mark mark-icon-manat button-icon-right manat-icon--black"></span>        
            </div>
        </div>
        <div class="cart-control-buttons flex flex-jc-space-between">
            <button class="btn btn-danger reset-cart flex button-icon-left" title="Очистить корзину">
                <span class=" widget__button-icon button-icon-i las la-trash"></span>
            </button>
            <button class="btn btn-primary send-cart width-100">Отправить</button>
        </div>    
    </div>
</div>  