<div class="body_prelodaer">
    {# {% include '/component/related_component/content_preloader.twig' %} #}
    <div class="preloader content_preloader hide">
        <div class="prelaoder-circle">
            <div class="circle-center">L</div>
            <div class="circle-line"></div>
        </div>
    </div>

</div>