<div class="app-container flex width-100 vh-100">
    {% if sidebar.menu_list.data  %}
        {% include '/component/index/sidebar.twig' %}
    {% endif %}
    
    {% include '/component/container.twig' %}
</div>