<div class="area-content widget__content search-content">
	<ul class="ls-custom-scrollbar select-list select-saerch-list search-list-content" data-auto-cmplt-type="{{auto_attr}}" >
		<li class="select-items">
			<a href="javascript:void(0)" class="select-item select-search-item">
				<span class="widget__button-text">Yazmağa başlayın ...</span>
			</a>									
		</li>							
	</ul>
	{% include '/component/related_component/content_preloader.twig' %}
</div>	